h1{
    color: #00ffff;
    text-align: center;
    /* LEFT, right , justify */
}
h2{
    color:red
}
h3{
    color:blue;
}
body{
    width: 50%;
    border:1px solid #00ffff;
    margin: auto;
}
li{
    display: inline-block
    
}