h1{
    color: #00ffff;
    text-align: center;
    text-decoration: underline red;
    /* LEFT, right , justify */
}
h2{
    color:red
}
h3{
    color:blue;
}
body{
    width: 50%;
    border:1px solid #00ffff;
    margin: auto;
}
li{
    display: inline-block;
    width: 30%;
    background-color: yellow;
    text-align: center;
}
li:hover{
    background-color: red;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:inherit;
}
ol{
    margin: 0%;
    margin: 0%;
}
div{
    font-size: 30px;
    color:red;
    text-align: right;
}
main{
    background-color: aqua;
    padding: 20px;
}
header{
    background-color: brown;
    background-image:url("descarga.jfif");
    text-align: right;
}